In [42]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/train.csv")

In [43]:
df= pd.read_csv("../input/cat_train_folds.csv")

In [25]:
set(list(df_k['nom_1']))

{'Circle', 'Polygon', 'Square', 'Star', 'Trapezoid', 'Triangle', nan}

In [5]:
mapping = {"Freezing" : 0,
           "Warm" : 1,
           "Cold" : 2,
           "Boiling Hot": 3,
           "Hot" : 4,
           "Lava Hot" : 5 }

In [6]:
df.loc[:,"ord_2"] = df.ord_2.map(mapping)

In [7]:
from sklearn import preprocessing
df.loc[:,"ord_2"] = df.ord_2.fillna("None")
lbl_enc = preprocessing.LabelEncoder()
df.loc[:,"ord_2"]= lbl_enc.fit_transform(df.ord_2.values)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [12]:
import numpy as np
fold = 5
df = pd.read_csv('../input/cat_train_folds.csv')
features = [f for f in df.columns if f not in ("id", "target","kfold")]
for col in features:
    df.loc[:,col] = df[col].astype(str).fillna("NONE")

df_train = df[df.kfold != fold].reset_index(drop = True)
df_valid = df[df.kfold ==fold].reset_index(drop = True)
X_train = df_train[features]

X_valid= df_valid[features]

categorical_features_indices = np.where(X_train.dtypes != np.float)[0]

In [13]:

categorical_features_indices

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22])

In [10]:
len(categorical_features_indices)

23

In [14]:
X_train.columns[3]

'bin_3'

In [15]:
X_train.bin_3

0         T
1         T
2         T
3         T
4         F
         ..
599995    F
599996    T
599997    T
599998    F
599999    F
Name: bin_3, Length: 600000, dtype: object

In [18]:
df = pd.read_csv('../input/adult_folds.csv')

In [19]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,kfold
0,54,Private,213092,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
1,47,Private,142061,Some-college,10,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K,0
2,20,?,40060,Some-college,10,Never-married,?,Own-child,White,Male,0,0,56,United-States,<=50K,0
3,38,Private,229236,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Other,Male,0,0,40,Puerto-Rico,<=50K,0
4,49,Self-emp-inc,34998,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,54,Self-emp-not-inc,226497,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,4
32557,28,Private,59335,Bachelors,13,Married-civ-spouse,Adm-clerical,Other-relative,White,Female,0,0,15,United-States,<=50K,4
32558,39,Private,154641,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K,4
32559,33,Private,268571,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K,4
32560,39,Private,179481,HS-grad,9,Never-married,Tech-support,Not-in-family,White,Male,4650,0,44,United-States,<=50K,4

In [31]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,kfold
0,209233,0.0,0.0,1.0,T,N,Blue,Trapezoid,Hamster,NaN,...,3.0,Expert,Warm,n,B,PS,4.0,1.0,1,0
1,414905,0.0,0.0,0.0,F,N,Blue,Triangle,Dog,China,...,3.0,Grandmaster,Warm,d,F,Nh,4.0,8.0,0,0
2,49751,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Finland,...,3.0,Novice,Freezing,c,Y,Nh,3.0,3.0,0,0
3,393397,0.0,0.0,0.0,F,Y,Blue,Circle,NaN,India,...,3.0,Master,Freezing,a,M,ze,2.0,11.0,0,0
4,189244,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,...,1.0,Expert,Hot,o,N,hG,6.0,5.0,0,0

In [32]:
features = [
f for f in df.columns if f not in ("id","target","kfold")
]

In [35]:
df['bin_4']

0         N
1         N
2         N
3         Y
4         N
         ..
599995    Y
599996    Y
599997    Y
599998    N
599999    Y
Name: bin_4, Length: 600000, dtype: object

In [33]:
features

['bin_0',
 'bin_1',
 'bin_2',
 'bin_3',
 'bin_4',
 'nom_0',
 'nom_1',
 'nom_2',
 'nom_3',
 'nom_4',
 'nom_5',
 'nom_6',
 'nom_7',
 'nom_8',
 'nom_9',
 'ord_0',
 'ord_1',
 'ord_2',
 'ord_3',
 'ord_4',
 'ord_5',
 'day',
 'month']

In [45]:
import os
import gc
import joblib
import pandas as pd 
import numpy as np
from sklearn import metrics, preprocessing

for col in features:
        df.loc[:,col] = df[col].astype(str).fillna("NONE")
        #encode all features with label encoder individually
        #in a live setting all label encoders need to be saved
        
        for feat in features:
            print(feat)
            lbl_enc = preprocessing.LabelEncoder()
            df.loc[:,feat] = df[feat].astype(str)
            lbl_enc = lbl_enc.fit(df[feat].values)
            df.loc[:, feat] = lbl_enc.fit_transform(df[feat].values)

bin_0
bin_1
bin_2
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_0
ord_1
ord_2
ord_3
ord_4
ord_5
day
month
bin_0
bin_1
bin_2
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_0
ord_1
ord_2
ord_3
ord_4
ord_5
day
month
bin_0
bin_1
bin_2
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_0
ord_1
ord_2
ord_3
ord_4
ord_5
day
month
bin_0
bin_1
bin_2
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_0
ord_1
ord_2
ord_3
ord_4
ord_5
day
month
bin_0
bin_1
bin_2
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9

In [34]:
import os
import gc
import joblib
import pandas as pd 
import numpy as np
from sklearn import metrics, preprocessing
from tensorflow.keras import layers
from tensorflow.keras import optimizers
from tensorflow.keras.models import Model, load_model
from tensorflow.keras import callbacks
from tensorflow.keras import backend as k
from tensorflow.keras import utils

def create_model(data, catcols):

    '''
    this funciton returns a compiled tf.keras model for entitiy embeddings
    :param data: this is a pandas dataframe
    :param catcols: list of categorical column names
    :return: complied tf.keras model
    '''
    #init the list of inputs for embedding
    inputs =[]
    #init the list of outputs for embedding
    outputs= []
    #loop over all categorical columns
    for c in catcols:

        #find the number of unique values in the column
        num_unique_values= int(data[c].nunique())
        #simple dimension of embedding calculator
        #min size is half the number of unbique values
        #max size is 50. max size depends on the number of values
        #categories too. 50 is quite sufficient most of the times
        #but if you have millions of unique values, you might need a larger dimenion

        embed_dim = int(min(np.ceil((num_unique_values)/2), 50))
        #simple keras input layer with size 1

        inp = layers.Input(shape = (1,))
        #add embedding layer to raw input
        #embedding size is alwasy 1 more than unique values in input

        out = layers.Embedding(num_unique_values + 1, embed_dim, name = c)(inp)

        #1-d spatial dropout is the standard for embedding layers
        #it can be used in nlp tasks as well

        out = layers.SpatialDropout1D(0.3)(out)

        #reshape the input to the dimensions of embedding
        #this becomes our output layer for current feature

        out = layers.Reshape(target_shape = (embed_dim,))(out)

        #add input to input list
        inputs.append(inp)
        #add output to output list
        outputs.append(out)


    #concatenate all output layers
    X = layers.Concatenate()(outputs)
    # add a batchnorm layer
    # from here, everything is up to you
    # you can try different architecture
    # add numerical features here or in concatonate layer
    X = layers.BatchNormalization()(X)

    # a bunch of dense layers with dropout
    # start with 1 or two layers only
    X = layers.Dense(300,activation = 'relu')(X)
    X = layers.Dropout(0.3)(X)
    X = layers.BatchNormalization()(X)

    #using softmax and treating it as a two class problem
    # sigmoid can also be used but then we need only 1 output class
    y = layers.Dense(2, activation = 'softmax')(X)

    model = Model(inputs = inputs ,outputs = y)
    #compile the model
    # we use adam and binary cross entropy
    model.compile(loss = 'binary_crossentropy', optimizer = 'adam')

    return model 
def run(fold):
    df = pd.read_csv('../input/cat_train_folds.csv')
    features = [
        f for f in df.columns if f not in ("id","target","kfold")
    ]
    #fill all Na with NONE
    for col in features:
        df.loc[:,col] = df[col].astype(str).fillna("NONE")
        #encode all features with label encoder individually
        #in a live setting all label encoders need to be saved
        
        for feat in features:
            df.loc[:,feat] = df[feat].astype(str)
            lbl_enc = preprocessing.LabelEncoder()
            lbl_enc = lbl_enc.fit(df[feat].values)
            df.loc[:, feat] = lbl_enc.fit_transform(df[feat].astype(str).values)

        #get trainign data using folds

        df_train= df[df.kfold != fold].reset_index(drop = True)
        df_valid = df[df.kfold ==fold].reset_index(drop = True)

        model = create_model(df, features)
        #our features are a list of list
        Xtrain = []
        for k in range(len(features)):
            Xtrain.append([])
        Xvalid = []
        for k in range(len(features)):
            Xvalid.append([])


        for k in range(len(features)):
            Xtrain[k].append(np.asarray(df_train[features].values[:,k]))

        # print(Xtrain) 
        # for k in range(len(features)):
        #     Xvalid[k].append(np.asarray(df_valid[features].values[:,k]))
    

        # Xtrain =[np.asarray(df_train[features].values[:,k])  for k in range(len(features))]
        # Xvalid = [np.asarray(df_valid[features].values[:,k])  for k in range(len(features))]     
        # for i in range(len(Xtrain)):
        #     Xtrain = np.asarray(Xtrain[i]) 
        # for i in range(len(Xvalid)):

        #     Xvalid = np.asarray(Xvalid[i])


        print(Xtrain[0].shape)
        #Xtrain = df_train[features].values
        #Xvalid = df_valid[features].values
        print(f'xtrain shape: {len(Xtrain)}')
        ytrain = df_train.target.values
        yvalid = df_train.target.values
        
        #concert target columns to categories
        #this is just binarization

        ytrain_cat = utils.to_categorical(ytrain)
        print(f'y_traincat shape {len(ytrain_cat)}')
        yvalid_cat = utils.to_categorical(yvalid)

   
        #fit the model
        print(f'y_traincat shape {ytrain_cat.shape}')

        model.fit(Xtrain,ytrain_cat, validation_data = (Xvalid, yvalid_cat), verbose = 1, batch_size =1024, epochs = 3)


        valid_preds = model.predict(Xvalid)[:,1]
        print(metrics.roc_auc_score(yvalid, valid_preds))

        #clear session to free gpu memory

        k.clear_session()

In [35]:
run(1)

(480000,)
xtrain shape: 23
y_traincat shape 480000
y_traincat shape (480000, 2)

ValueError: Data cardinality is ambiguous:
  x sizes: 23
  y sizes: 480000
Please provide data which shares the same first dimension.

In [33]:
x = []
for i in range(10):
  x.append([])
data = np.random.rand(2,10,224, 224, 20)
for data_vector in data:
  for index in range(10):
    x[index].append(data_vector[index]) 

for i in range(10):
  x[i] = np.asarray(x[i]) 
   
y = np.random.rand(2,3)
print('x',np.asarray(x).shape)
print('y',y.shape)
model.fit(x,y,epochs=1)

x (10, 2, 224, 224, 20)
y (2, 3)

NameError: name 'model' is not defined